.web-wrapper {
    margin: 40px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}

#home {
    background-image: url('../data/mainBACK2.jpg');
    width: 100vw;
    min-height: 100vh;
    overflow: auto;
    overflow-x: hidden;
}

.home-wrapper {
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.main-h1 {
    font-size: 60px;
    font-family: 'comic sans';
    text-transform: uppercase;
    letter-spacing: 1px;
    background: -webkit-linear-gradient(rgb(248, 244, 244), rgb(112, 212, 248));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.landing-image {
    margin-top: 10px;
    margin-bottom: 30px;
    height: 200px;
    border-radius: 20px;
    @media screen and (max-width: 768px) {
        width: 500px;
    }
}

.landing-link {
    border-radius: 30px;
    margin-bottom: 30px;
}

.landing-image:hover {
    border: solid 3px black;
    border-radius: 8px;
}

.div-button-back {
    position: absolute;
    margin-left: 40px;
    margin-top: 35px;
    margin-bottom: 20px;
    display: block;
}

.button-back {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-family: 'comic sans';
    border-radius: 8px;
    background-color: rgb(150, 3, 3);
    text-transform: uppercase;
    position: relative;
}

.button-back:hover {
    background-color: rgb(241, 136, 136);
    transition: ease-in-out 0.3s;
}

.button-home {
    display: block;
    margin-top: 10px;
    padding: 5px;
    font-size: 22px;
    font-weight: bold;
    width: 350px;
    font-family: 'comic sans';
}

.div-backhome-button {
    margin-top: 15px;
}

.div-consultar-1lote {
    display: grid;
    grid-template-columns: 370px 300px;
}

.button-registrar {
    padding: 12px;
    font-size: 22px;
    font-weight: bold;
    font-family: 'comic sans';
    letter-spacing: 1px;
    margin-top: 18px;
    border-radius: 7px;
    background-color: rgb(249, 234, 195);
}

.button-registrar:hover {
    background-color: rgb(250, 212, 114);
    transition: ease-in-out 0.3s;
}

.button-registrar-inline {
    position: relative;
    font-size: 18px;
    font-weight: bold;
    font-family: 'comic sans';
    width: 200px;
    height: 40px;
    margin-left: 10px;
    margin-top: 4px;
    align-self: center;
}

.button-back-home {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'comic sans';
    margin-right: 10px;
}

.back-arrows {
    font-size: 28px;
}

.title-task {
    letter-spacing: 0.05em;
    font-family: 'comic sans';
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
}

.title-task.celulosa {
    color: rgb(161, 254, 136);
}

.title-task.silicio {
    color: rgb(176, 182, 182);
}

h4 {
    letter-spacing: 0.05em;
    font-family: 'comic sans';
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
}

.main-title {
    font-size: 45px;
    font-family: 'comic sans';
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.main-title.celulosa {
    background: -webkit-linear-gradient(rgb(8, 89, 6), rgb(69, 225, 7));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-title.silicio {
    background: -webkit-linear-gradient(rgb(108, 108, 108), rgb(99, 136, 170));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-title.baterias {
    background: -webkit-linear-gradient(rgb(2, 46, 129), rgb(19, 215, 237));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-title.consultar {
    background: -webkit-linear-gradient(rgb(17, 63, 246), rgb(252, 57, 181));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title-solicitantes {
    color: white;
    font-weight: bold;
    font-family: 'comics sans';
    font-size: 40px;
}

.solicitantes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.solicitantes img {
    margin: 20px;
    width: 120px;
    height: 90px;
}

.solicitantes img:hover {
    width: 250px;
    height: 150px;
}