.web-wrapper {
    margin: 40px;
    width: 1000px;
}

.small-separation {
    margin-top: 10px
}

.div-button-back {
    margin-top: 15px;
}

.button-home {
    display: block;
    margin-top: 10px;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    width: 250px;
    font-family: 'Courier New', Courier, monospace;
}

.div-backhome-button {
    margin-top: 15px;
}

.div-consultar-1lote {
    display: grid;
    grid-template-columns: 300px 300px;
}

.button-registrar {
    padding: 5px;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 18px;
}

.button-registrar-inline {
    font-size: 14px;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    width: 180px;
    height: 30px;
    margin-top: 4px;
}

.button-back-home {
    padding: 5px;
    font-size: 18px;
    font-weight: 700;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    margin-right: 10px;
}

.button-back-cel {
    padding: 8px;
    font-size: 18px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
    background-color: rgb(249, 151, 151);
}

.button-back-cel:hover {
    background-color: rgb(254, 107, 107);
    transition: ease-in-out 0.3s;
}

.back-arrows {
    font-size: 28px;
}

h3 {
    letter-spacing: 0.1em;
}

h4 {
    letter-spacing: 0.1em;
}

.main-h1 {
    background: -webkit-linear-gradient(rgb(0, 0, 0), rgb(84, 83, 83));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-celulosa {
    background: -webkit-linear-gradient(rgb(3, 29, 2), rgb(69, 225, 7));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-silicio {
    background: -webkit-linear-gradient(rgb(45, 45, 45), rgb(99, 136, 170));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-baterias {
    background: -webkit-linear-gradient(rgb(2, 46, 129), rgb(19, 215, 237));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-consultar {
    background: -webkit-linear-gradient(rgb(17, 63, 246), rgb(252, 57, 181));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}