.web-wrapper {
    margin: 40px
}

.small-separation {
    margin-top: 10px
}

.div-button-back {
    margin-top: 15px;
}

.button-home {
    display: block;
    margin-top: 10px;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    width: 250px;
    font-family: 'Courier New', Courier, monospace;
}

.div-backhome-button {
    margin-top: 15px;
}

.button-registrar {
    padding: 5px;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 18px;
}

.button-back-home {
    padding: 5px;
    font-size: 18px;
    font-weight: 700;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    margin-right: 10px;
}

.button-back-cel {
    padding: 5px;
    font-size: 18px;
    font-weight: 700;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

a {
    font-family: 'Courier New', Courier, monospace;
    padding: 2px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: green;
    background: white;
    display: block;
}

h3 {
    letter-spacing: 0.1em;
}

h4 {
    letter-spacing: 0.1em;
}