.modalPosition {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.modalBackground {
    background-color: rgba(134, 112, 112, 0);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 2px solid black;
}

.modalContainer {
    width: 900px;
    height: 500px;
    border-radius: 12px;
    background-color: rgb(178, 171, 171);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.close-btn {
    padding: 10px;
    font-weight: bold;
    font-size: 28px;
    width: 50px;
    border-radius: 4px;
    border: 2px solid;
}

.close-btn:hover {
    background-color: rgb(251, 108, 108);
    border-radius: 4px;
}

.modalTitle {
    padding: 6px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
}

.modalLink {
    color: rgb(0, 0, 0);
    font-family: 'comics sans';
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 1px;
    text-decoration: none;
}

.modalLink:hover {
    color: blue
}