.bt-lotes {
    background-color: rgb(149, 163, 189);
    color: black;
    font-weight: bold;
    font-size: 18px;
    font-family: 'comic sans';
    margin: 3px;
    padding: 8px;
    border-radius: 5px;
    width: max-content;
}

.bt-lotes:hover {
    background-color: rgb(67, 201, 250);
}

.bt-lotes-wrapper {
    margin-top: 20px;
    margin-left: 15px;
}

.select-lotes {
    width: 200px;
    font-size: 20px;
    font-family: 'comic sans';
    font-weight: bold;
    padding: 5px;
}

.div-adding-analisis {
    margin-top: 25px;
    border-radius: 5px;
    border: 2px solid black;
    padding: 15px;
    width: 500px;
}

.lote-color {
    color: darkgoldenrod;
}

.register-done {
    font-weight: bold;
    font-family: 'comic sans';
    font-style: italic;
    font-size: 20px;
    color: darkgreen;
}

.div-register {
    margin-top: 15px;
}