.div-showTxHash {
    margin-top: 40px;
    /* display: grid;
    grid-template-columns: 300px 300px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.span-hashTx,
.loading-hash-tx {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    color: white;
    font-family: "comic sans";
    font-size: 35px;
    letter-spacing: 1px;
}

.hash-link {
    font-size: 40px;
    font-weight: bold;
    color: rgb(2, 185, 2);
    font-family: "comic sans";
    font-size: 25px;
    letter-spacing: 1px;
}

.rotate-clock {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotation ease-in 1.5s;
    animation-iteration-count: infinite;
    font-size: 60px;
    width: fit-content;
    height: auto;
}

.rotate-clock:before {
    content: attr(data-hover);
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(50deg);
    }
    70% {
        transform: rotate(-50deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


/* @keyframes rotation {
    0% {
        transform: translateX(0);
    }
    40% {
        transform: translateX(3em);
    }
    to {
        transform: translateX(-3m);
    }
} */