.div-bt-lotes {
    margin-top: 20px;
}

.bt-lotes {
    width: 60px;
    margin: 5px;
    padding: 8px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    background-color: darkolivegreen;
    color: white;
    border: none;
    border-radius: 5px;
}

.bt-lotes:hover {
    background-color: rgb(135, 180, 56);
}

.div-blockchain-info {
    margin-top: 25px;
    margin-bottom: 35px;
}